@use './base.scss';
// component styles

@use './button-group.scss';
@use './button.scss';
@use './popover.scss';
@use './scrollbar.scss';
@use './tooltip.scss';
@use './popper.scss';
@use './result.scss';

.flex{
    gf-button{
        margin: 0 3px;
    }
}
.reset{
    gf-button{
        margin: 0;
    }
    gf-input{
        margin-top: 10px;
        display: block;
    }
}
.mt10{margin-top: 10px;}

.icon-blcok>ul{
    display: flex;flex-wrap: wrap;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 0;
}
.icon-blcok>ul>.icon-item{
    width: 16.66%;;height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.icon-blcok>ul> li:hover{
    background-color: #f5f5f5;
}
@keyframes Copyspan { 
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(+2px, 0, 0); }
    30%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(+4px, 0, 0); }
    50% { transform: translate3d(-4px, 0, 0); }
}
