/***************** 
*   base-标记颜色  *
******************/
$--brand-color: #747bff !default;
$--brand-color-light: #b9bdff;
$--brand-color-light1: #f1f1ff;
$--brand-color-light2: #e3e4ff;
$--brand-color-light3: #d5d7ff;
$--brand-color-light4: #c7caff;
$--brand-color-light5: #b9bdff;
$--brand-color-light6: #abafff;
$--brand-color-light7: #9da2ff;
$--brand-color-light8: #8f95ff;
$--brand-color-light9: #8188ff;
$--brand-color-dark: #346fc2;

$--color-primary: #747bff !default;
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--color-success: #67c23a !default;
$--color-warning: #ffc82c !default;
$--color-danger: #ff4949 !default;
$--color-info: #909399 !default;

$--background-disabled: #f7f7f7 !default;

/***************** 
*   base-高亮颜色  *
******************/
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

/***************** 
*   base-文字颜色  *
******************/
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #c0c4cc !default;

/***************** 
*   base-文字大小  *
******************/
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;
$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;
$--font-size-extra-smaller: 11px !default;
$--font-weight-primary: 500 !default;
$--font-weight-secondary: 100 !default;
$--font-line-height-primary: 24px !default;
$--font-line-height-secondary: 16px !default;
$--font-color-disabled-base: #bbb !default;

/***************** 
*   base-边框颜色  *
******************/
$--border-color-base: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;

/***************** 
*   base-border  *
*****************/
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;
$--border-radius-zero: 0 !default;

/***********************************组件变量 ********************************/

/**************** 
*   组件 Button  *
****************/
$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;
$--button-default-background-color: $--color-white !default;
$--button-default-border-color: $--border-color-base !default;
$--button-default-border-radius: $--border-radius-base;
$--button-default-font-color: $--color-text-regular !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-padding-vertical: 12px !default;
$--button-border-radius-round: 20px;
/* button类型 */
// primary
$--button-primary-border-color: $--color-primary !default;
$--button-primary-font-color: $--color-white !default;
$--button-primary-background-color: $--color-primary !default;
// success
$--button-success-border-color: $--color-success !default;
$--button-success-font-color: $--color-white !default;
$--button-success-background-color: $--color-success !default;
// info
$--button-info-border-color: $--color-info !default;
$--button-info-font-color: $--color-white !default;
$--button-info-background-color: $--color-info !default;
// warning
$--button-warning-border-color: $--color-warning !default;
$--button-warning-font-color: $--color-white !default;
$--button-warning-background-color: $--color-warning !default;
// danger
$--button-danger-border-color: $--color-danger !default;
$--button-danger-font-color: $--color-white !default;
$--button-danger-background-color: $--color-danger !default;

/* button大小 */
$--button-large-font-size: $--font-size-base !default;
$--button-large-border-radius: $--border-radius-base !default;
$--button-large-padding-vertical: 10px !default;
$--button-large-padding-horizontal: 20px !default;

$--button-small-font-size: $--font-size-extra-small !default;
$--button-small-border-radius: $--border-radius-base !default;
$--button-small-padding-vertical: 6px !default;
$--button-small-padding-horizontal: 10px !default;

$--button-smaller-font-size: $--font-size-extra-smaller !default;
$--button-smaller-border-radius: $--border-radius-base !default;
$--button-smaller-padding-vertical: 0px !default;
$--button-smaller-padding-horizontal: 8px !default;

// disable
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default;

/**************** 
*   组件 Input  *
****************/
$input-border-color-focus: $--brand-color;

$--input-disabled-fill: $--background-disabled;
$--input-disabled-border: $--border-color-light;
$--input-disabled-color: $--font-color-disabled-base;
$--input-disabled-placeholder-color: $--color-text-placeholder;
$--input-placeholder-color: $--color-text-placeholder;
