@charset "UTF-8";
@import '../common/var';
@import '../mixins/mixins';

@include b(textarea) {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid $--brand-color-light;
  padding: 6px;
  vertical-align: bottom;
  transition: border 0.2s;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border-radius: $--border-radius-base;
  &:hover {
    border-color: $input-border-color-focus;
  }
  @include e(inner) {
    border: none;
    width: 100%;
    padding: 0;
    &::placeholder {
      color: $--input-placeholder-color;
      font-size: 12px;
    }
    &:focus {
      outline: none;
      border-color: $input-border-color-focus;
    }
  }
  & .m-input__maxlength {
    color: #909399;
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
  @include when(disabled) {
    background: $--input-disabled-fill;
    border-color: $--input-disabled-border;
    .m-textarea__inner {
      background-color: $--input-disabled-fill;
      color: $--input-disabled-color;
      cursor: not-allowed;
      &::placeholder {
        color: $--input-placeholder-color;
        font-size: 12px;
      }
    }

    .m-input__icon {
      cursor: not-allowed;
    }
  }
}
@include b(input) {
  position: relative;
  font-size: 0;
  display: inline-block;
  width: 100%;
  border: 1px solid $--brand-color-light;
  transition: border 0.2s;
  padding: 6px;
  display: flex;
  height: 34px;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: $--border-radius-base;
  box-sizing: border-box;
  :-internal-autofill-selected {
    transition: background-color 50000s ease-in-out 0s;
  }
  &:focus-within {
    border-color: $input-border-color-focus;
  }
  &:hover {
    border-color: $input-border-color-focus;
    .m-input__clear {
      display: block;
    }
  }
  & .m-input__clear {
    cursor: pointer;
    z-index: 2;
    padding-right: 2px;
    display: none;
  }
  & .m-input__maxlength {
    color: #909399;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  @include e(inner) {
    display: block;
    flex: 1;
    color: $--color-text-primary;
    font-size: 12px;
    background-color: $--color-white;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    border-radius: $--border-radius-base;
    &:focus + .m-input__clear {
      display: block;
    }
    &::placeholder {
      color: $--input-placeholder-color;
      font-size: 12px;
    }
  }
  @include when(input-success) {
    border-color: $--color-success;
  }
  @include when(input-success) {
    border-color: $--color-success;
  }
  @include when(input-info) {
    border-color: $--brand-color-dark;
  }
  @include when(input-success) {
    border-color: $--color-success;
  }
  @include when(input-warning) {
    border-color: $--color-warning;
  }
  @include when(input-error) {
    border-color: $--color-danger;
  }

  @include when(disabled) {
    background: $--input-disabled-fill;
    border-color: $--input-disabled-border;
    .m-input__inner {
      background-color: $--input-disabled-fill;
      color: $--input-disabled-color;
      cursor: not-allowed;
      &::placeholder {
        color: $--input-placeholder-color;
        font-size: 12px;
      }
    }

    .m-input__icon {
      cursor: not-allowed;
    }
  }
}
