.gf-icon-loading {
    animation: rotating 2s linear infinite;
}

.gf-icon--right {
    margin-left: 5px;
}

.gf-icon--left {
    margin-right: 5px;
}

@keyframes rotating {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.reset {
    width: 25px;
    height: 25px;
}