:root{
    --c-brand: #747bff;
    --c-text-accent:#747bff;
    --c-tip:#747bff;
    --c-text-lighter:#747bff;
    --sidebar-width: 15rem;
    --content-width: 900px;
}
  
// .sidebar-item:not(.sidebar-heading){
//     // font-size: .9rem !important;
//     font-weight: 550 !important;
// }

.theme-default-content div[class*=language-]{
    margin: 0;
}
.font-bold{
    font-weight: bold;
}
.colorff0066{
    color: #ff0066;
}


.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt0{margin: 0;}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr25{margin-right:25px}
.mr40{margin-right:40px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb15{padding-bottom:15px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl20{padding-left:20px}
.pl15{padding-left:15px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pr100{padding-right:100px}
h6{
    line-height: 1;
}



.reset>.gf-button-group>gf-button > .gf-button{
    margin:0 !important;
}
.gf-button{margin: 0 5px !important;}

// input样式
.input{
    .gf-input, .gf-textarea{
        width: 300px;
        margin-top: 10px;
    }
}


// vuepress样式修改
.sidebar-item-children .sidebar-item-children .sidebar-item:not(.sidebar-heading).active{
    background-color: rgba(236,242,252,0.5);
    border-right: 2px solid #747bff;
}
.sidebar-item-children {
    .sidebar-item{
        display: flex !important; justify-content: space-between;
        align-items: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 14px ;
    }
}
.sidebar-item-children>li>p{
    font-size: 16px !important;
    border: none;
    color: #000 !important;
    background: none !important;
    border: none !important;
}

.sidebar-item.active:not(p.sidebar-heading){
    font-size: 16px !important;
    border: none;
    color: #000;
}

.code-control{
    margin: 0 !important;
}

ul,ol,menu{list-style:none}




.icon-blcok>ul{
    display: flex;flex-wrap: wrap;
    border: 1px solid #eaeefb;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 0;
}
.icon-blcok>ul>.icon-item{
    width: 16.66%;;height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
}
.icon-blcok>ul> li:hover{
    background-color: #f5f5f5;
}
@keyframes Copyspan { 
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(+2px, 0, 0); }
    30%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(+4px, 0, 0); }
    50% { transform: translate3d(-4px, 0, 0); }
}


td{
    font-size: 14px;
}

// 白天
.hydrated{
    div[class*=language-]{
        background: #F7F7F7;
    }
    
    .theme-default-content pre code, .theme-default-content pre[class*=language-] code{
        color: #3f536e;
    }

    .code-copy>svg>:last-child{
        fill:#000 !important;
    }

    .flex{
        display: flex;
        align-items: center;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        transition: .2s;
        padding: 24px;
        padding-top:14px;
        cursor: pointer;
        margin-top: -1px;
        flex-wrap: wrap;
        &:hover{
            box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
        }
        gf-button{margin-top: 10px;}
    }
    .borders{
        border: 1px solid #ebebeb;
        margin-top: -1px;
        transition: .2s;
        cursor: pointer;
        margin-top: -1px;
        padding: 10px;
        border-radius: 3px;
        &:hover{
            box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
        }
    }

    // button样式
    .code-control{
        background-color: #FAFBFC !important;
        margin-top: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .control-btn{
            font-size: 14px;
            color: #747bff;
            .arrow-icon{
                border-bottom: 6px solid #747bff !important;
            }
        }
    }
    
}
// 黑夜
.dark{
    div[class*=language-]{
        background: #636363;
    }
    .theme-default-content pre code, .theme-default-content pre[class*=language-] code{
        color: #eee;
    }

    .code-copy>svg>:last-child{
        fill:#fff !important;
    }

    .flex{
        border: 1px solid #636363;
    }
    .code-control{
        background-color: #636363 !important;
        
        
    }
    .demo-and-code-online-edit-wrapper > button> svg{
        fill: #eee !important;
    }
}


::selection {
    background:  rgba(116,123,255,.8);
    color: #fff;
}

.custom-container.tip{
    border-radius: 4px !important;
    background: #ecf8ff;
}
