:root{
    --c-brand: #00a8d5;
    --c-text-accent:#00a8d5;
    --c-tip:#00a8d5;
    --c-text-lighter:#00a8d5;
    --sidebar-width: 15rem;
}
  
// .sidebar-item:not(.sidebar-heading){
//     // font-size: .9rem !important;
//     font-weight: 550 !important;
// }

.theme-default-content div[class*=language-]{
    margin: 0;
}
.font-bold{
    font-weight: bold;
}
.colorff0066{
    color: #ff0066;
}