@charset "UTF-8";
@import "../common/var";
@import "../mixins/mixins";

@include b(input){
    position: relative;
    font-size: 0;
    display: inline-block;
    width: 100%;
    line-height: 1.5;
    @include e(inner) {
        display: block;
        width: 100%;
        padding: 6px 12px;
        color: $--color-text-primary;
        font-size: 12px;
        background-color: $--color-white;
        border: 1px solid $--brand-color-light;
        border-radius: $--border-radius-base;
        transition: border .2s;
        outline: none;
        box-sizing: border-box;
        &:focus {
            border-color: $input-border-color-focus;
        }
    }

    @include when(disabled) {
        .gf-input__inner {
          background-color: $--input-disabled-fill;
          border-color: $--input-disabled-border;
          color: $--input-disabled-color;
          cursor: not-allowed;
          &::placeholder {
            color: $--input-disabled-placeholder-color;
          }
        }
    
        .gf-input__icon {
          cursor: not-allowed;
        }
      }
   
}